nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='assets/img/img1.jpg', alt='', class='top-nav__logo')
		ul(class='top-nav__menu')
			li(class='top-nav__li'): a(href='#section1', 			class='top-nav__anchor') Section1
			li(class='top-nav__li'): a(href='#section2', 	class='top-nav__anchor') Section2
			li(class='top-nav__li'): a(href='#section3', 	class='top-nav__anchor') Section3
			li(class='top-nav__li'): a(href='#section4', 	class='top-nav__anchor') Section4
		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
			span.hamburger-box
				span.hamburger-inner

